.products {
    margin: 20px 0;
}
.brand {
    margin-bottom: 20px;
}
.brand input {
    border: none;
    outline: none;
}
.brand h2 {
    font-family: var(--font-sencondary);
}
.brand .inputSearch {
    border: 1px solid gray;
    width: 20%;
    padding: 10px 20px;
    width: 95%;
    margin: 20px 0;
}
.brand ul li {
    font-family: var(--font-sencondary);
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    transition: 0.5s;
    overflow: hidden;
}
.brand ul li:hover {
    font-weight: bold;
}
.products h4 {
    font-family: var(--font-sencondary);
    margin-left: 10px;
    font-size: 30px;
}
.products .option {
    display: inline-block;
    list-style: none;
}
.products .option li {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    font-family: var(--font-sencondary);
}

@media (max-width: 900px) {
    .products .option {
        display: flex;
        gap: 20px;
    }
    .products .option li {
        display: inline-block;
        font-size: 15px;
    }
}
