.card-product {
    color: black;
}
.card-product .thumb img {
    border-radius: 10px;
}
.card-product .thumb {
    position: relative;
    cursor: pointer;
}
.card-product .thumb::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.388);
    opacity: 0;
    transition: 0.5s;
}
.card-product .thumb:hover::after {
    opacity: 1;
}
.card-product h3 {
    font-size: 18px;
    color: rgb(153, 148, 148);
}
.card-product h2 {
    font-size: 20px;
}
.card-product p {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
