.cart {
    margin: 20px auto;
    font-size: 18px;
}
.cart i {
    cursor: pointer;
    transition: 0.5s;
}
.cart i:hover {
    color: orange;
}
.cart thead {
    border: 1px solid rgb(213, 209, 209);
    text-align: center;
}
.cart th {
    border-right: 1px solid rgb(213, 209, 209);
    text-align: center;
}
.cart td {
    border-right: 1px solid rgb(213, 209, 209);
    text-align: center;
    vertical-align: middle;
}
.cart img {
    width: 50%;
    margin: 0 auto;
}
.cart .plus-minus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(215, 211, 211);
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
.cart .plus-minus input {
    border: none;
    outline: none;
    text-align: center;
    width: 30%;
}
.cart .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}
.cart .total span {
    color: orange;
    font-weight: bold;
}
.cart .price {
    display: inline-block;
}


@media (max-width: 900px) {
    .cart img {
        width: 100%; /* Thay đổi kích thước hình ảnh khi màn hình nhỏ hơn 900px */
    }
    .cart th,
    .cart td {
        font-size: 14px; /* Giảm kích thước font chữ cho bảng khi màn hình nhỏ hơn 900px */
    }
    .cart .thID,
    .cart .thImg {
        display: none; /* Ẩn các cột ID, Tên sản phẩm và Ảnh khi màn hình nhỏ hơn 900px */
    }
    .cart .plus-minus {
        width: 100%; /* Thay đổi chiều rộng của các phần tử 'plus-minus' khi màn hình nhỏ hơn 900px */
    }
    .cart .plus-minus input {
        width: 40%; /* Thay đổi chiều rộng của input quantity khi màn hình nhỏ hơn 900px */
    }
    .cart .total {
        flex-direction: column; /* Thay đổi hướng của flex container thành dọc khi màn hình nhỏ hơn 900px */
        align-items: flex-end; /* Căn phần tử về phía phải của flex container khi màn hình nhỏ hơn 900px */
    }
}

